*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'poppins', sans-serif;
	font-size: 18px;
}
body{
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
	width: 70%;
	padding: 30px;
    height: 200%;
	border: 1px solid #eeeeee;
	border-radius: 10px;
	background-color: #003b5b;
}
h4{
	margin-bottom: 10px;
	font-size: 24px;
	color: white;
}
input{
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}
textarea{
	width: 100%;
	padding: 10px;
}
#submit{
	border: none;
	background-color: orangered;
	color: white;
	width: 200px;
	margin-top: 10px;
	border-radius: 5px;
}
#submit:hover{
	background-color: #333333;
}

.radio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    width: fit-content;
    margin-bottom: 1.25em;
}

.radio > *{
    margin-right: 8px;
}

.header{
    font-size: larger;
    color: white;
    margin-bottom: .5em;
}

textarea{
    margin-bottom: 1.25em;
}
